
*.sub
*.png
*.xml
Azimuth \[JE\].sub
Azimuth \[JE\].xml
base64
gzip
os
re
sys
.vscode/launch.json
LocalMods/*
Steam Workshop Subs to convert.txt
__pycache__/JESubConverter.cpython-310.pyc
Steam Workshop Subs to convert.htm
.vscode/*
__pycache__/**
*.pyc
